.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  max-width: 60%;  /* Update to full width */
  margin: auto;
}

.nameTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.filmleft, .filmright {
  position: fixed;  /* Use fixed positioning to keep them at the sides of the viewport */
  top: 100px;  /* Adjust to control the vertical positioning */
  width: 300px;  /* Adjust the width to your desired size */
  height: auto;  /* Adjust height to fit the content */
}

.filmleft {
  left: 10;  /* Align to the left edge */
}

.filmright {
  right: -90;  /* Align to the right edge */
}