
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  max-width: 600px;
  margin: auto;
}

.nameTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.left {
  left: 10;
}

.right {
  right: 10;
}